@use "./colors" as *;

.form-container{
    padding: 1rem;
    border: 1px solid black;
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(100px,200px);
    gap: 1rem;

    div{
        display: grid;
        align-items: flex-start;
        gap: 0.5rem;
        grid-template-rows: 1fr 6fr;
        label{
            align-self: flex-end;
        }
    }

    textarea{
        font-size: 0.8rem;
        padding: 1rem;
        resize: none;
        border: 1px solid $darkGray;
        color: $darkGray;
        opacity: 75%;
        
    }
    
}