// Imports
@use "./colors" as *;
@use "./reset";
@use "./navbar";
@use "./form.scss";
//////////////////////////////////

*{
    color: $darkGray;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(160px,20%) 80%;
    grid-template-rows: 15% 85%;
    overflow-x: hidden;
}





.header{
    grid-column: 1/3;
    grid-row: 1/2;
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkBlue;
    // border-bottom: 3px solid $black;
    h3{
        font-size: 4rem;
        font-family: 'Courier New', Courier, monospace,sans-serif;
        background-image: linear-gradient(to bottom,$darkTeal,25%,$lightBlue);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        // color: $teal;
    }
}





.add{
    width: 20px;
    height: 20px;
    align-self: center;
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid $darkGray;
    border-radius: 50%;
    background-color: $darkTeal;
    
    &:hover{
        background-color: $teal;
        cursor: pointer;
    }
}


.main-content{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    align-items: center;
}